# dependencies
/node_modules

# Next.js build output
/.next
/out

# local files
.DS_Store
*.pem
.env*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
